<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog Posts</title>
</head>

<body>
  <h1><%= post.title %></h1>

  <div>
    <a href="/posts">&lt;- Back to Post List</a>
  </div>
  <div>
    <a href="/posts/<%= post.id %>/edit">Edit this post</a>
  </div>
  <div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
      <button type="submit">Delete this post</button>
    </form>
  </div>

  <p><%= post.content %></p>
</body>

</html>
